/*
  Tailwind CSS uses cascade layers to organize styles with a clear hierarchy: theme, base, components, and utilities.

  To maintain consistency and predictable style application:
  - Import external library styles within the vendor layer to contain third-party CSS.
  - Use the theme layer for foundational elements, such as font declarations.
  - Ensure that the cascade order aligns with Tailwind’s design principles to avoid specificity conflicts.

  This approach guarantees that utility classes take precedence and prevents style overrides by third-party code.

  For reference, see the Tailwind CSS index file:
  https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/index.css
*/

@layer vendor;
@layer properties;
@layer theme, base, components, utilities;

@import './fonts/lato.css' layer(theme);
@import './fonts/noto-sans.css' layer(theme);
@import '@fortawesome/fontawesome-svg-core/styles.css' layer(vendor);

@layer base {
  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    background: #991b1b;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 3px;
  }

  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow:
      0 0 10px #991b1b,
      0 0 5px #991b1b;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
}
